# - General settings -
{
	filesystem web embedded
	admin off
	auto_https off
	persist_config off
	skip_install_trust
	grace_period 5s
}

# - Server settings -
http://${FEISHIN_LISTEN_ADDR}:${FEISHIN_LISTEN_PORT} {
	encode gzip
	@settings_js {
		path /settings.js ${FEISHIN_PUBLIC_PATH}/settings.js
	}
	handle @settings_js {
		root * /etc/caddy/conf.d
		rewrite * /settings.js
		file_server
	}
	file_server {
		fs web
	}
	log {
		output stdout
		format console
		level INFO
	}
}
