"use strict";
window.SERVER_URL="${FEISHIN_SERVER_URL}";
window.SERVER_NAME="${FEISHIN_SERVER_NAME}";
window.SERVER_TYPE="${FEISHIN_SERVER_TYPE}";
window.SERVER_LOCK=${FEISHIN_SERVER_LOCK};
window.ANALYTICS_DISABLED="${FEISHIN_ANALYTICS_DISABLED}";