---
name: Build Valkey image
on:
  push:
    branches:
      - main
    paths:
      - 'valkey/**'
      - '!valkey/README.md'
      - '.github/workflows/build-valkey.yml'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        version: ['9.0.0', '8.1.4']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Build and push image
        uses: ./.github/actions/build-image
        with:
          name: valkey
          version: ${{ matrix.version }}
          description: An open source, in-memory data store
          license: BSD-3-Clause
          token: ${{ secrets.GITHUB_TOKEN }}