---
name: Build Fusion image
on:
  push:
    branches:
      - main
    paths:
      - 'fusion/**'
      - '!fusion/README.md'
      - '.github/workflows/build-fusion.yml'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Build and push image
        uses: ./.github/actions/build-image
        with:
          name: fusion
          version: 0.9.8
          description: A lightweight, self-hosted friendly RSS reader
          token: ${{ secrets.GITHUB_TOKEN }}
