---
name: Build Grafana image
on:
  push:
    branches:
      - main
    paths:
      - 'grafana/**'
      - '!grafana/README.md'
      - '.github/workflows/build-grafana.yml'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      
      - name: Build and push image
        uses: ./.github/actions/build-image
        with:
          name: grafana
          version: 12.3.0
          build-extra-args: |
            REVISION=19497075765
          description: The open and composable observability and data visualization platform
          license: AGPL-3.0-or-later
          token: ${{ secrets.GITHUB_TOKEN }}
