name: Build PostgreSQL image
on:
  push:
    branches:
      - main
    paths:
      - 'postgresql/**'
      - '!postgresql/README.md'
      - '.github/workflows/build-postgresql.yml'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
    strategy:
      matrix:
        version: ['16.11','17.7','18.1']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Extract PostgreSQL release
        id: version
        shell: bash
        run: echo "release=${VERSION%%.*}" >> $GITHUB_OUTPUT
        env:
          VERSION: ${{ matrix.version }}

      - name: Build and push image
        uses: ./.github/actions/build-image
        with:
          name: postgresql
          version: ${{ matrix.version }}
          description: Custom PostgreSQL ${{ steps.version.outputs.release }} image built from sources with additional extensions and tools
          license: PostgreSQL
          token: ${{ secrets.GITHUB_TOKEN }}
