---
name: Build pgbouncer image
on:
  push:
    branches:
      - main
    paths:
      - 'pgbouncer/**'
      - '!pgbouncer/README.md'
      - '.github/workflows/build-pgbouncer.yml'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Build and push image
        uses: ./.github/actions/build-image
        with:
          name: pgbouncer
          version: 1.25.0
          description: Lightweight connection pooler for PostgreSQL
          license: ISC
          token: ${{ secrets.GITHUB_TOKEN }}