---
name: Build CoreDNS image
on:
  push:
    branches:
      - main
    paths:
      - 'coredns/**'
      - '!coredns/README.md'
      - '.github/workflows/build-coredns.yml'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Build and push image
        uses: ./.github/actions/build-image
        with:
          name: coredns
          version: 1.13.1
          description: CoreDNS is a DNS server that chains plugins
          token: ${{ secrets.GITHUB_TOKEN }}
