---
name: Build Prometheus image
on:
  push:
    branches:
      - main
    paths:
      - 'prometheus/**'
      - '!prometheus/README.md'
      - '.github/workflows/build-prometheus.yml'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Build and push image
        uses: ./.github/actions/build-image
        with:
          name: prometheus
          version: 3.7.3
          description: The Prometheus monitoring system and time series database
          license: Apache-2.0
          token: ${{ secrets.GITHUB_TOKEN }}