---
name: Build Feishin image
on:
  push:
    branches:
      - main
    paths:
      - 'feishin/**'
      - '!feishin/README.md'
      - '.github/workflows/build-feishin.yml'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Build and push image
        uses: ./.github/actions/build-image
        with:
          name: feishin
          version: 1.1.0
          description: A modern self-hosted music player
          license: GPL-3.0-or-later
          token: ${{ secrets.GITHUB_TOKEN }}
