name: Build PostgreSQL image
on:
  push:
    branches:
      - main
    paths:
      - 'postgresql/**'
      - '!postgresql/README.md'
      - '.github/workflows/build-postgresql.yml'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        version: ['15.14','16.10','17.6','18.0']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Extract PostgreSQL release
        id: version
        shell: bash
        run: echo "release=${VERSION%%.*}" >> $GITHUB_OUTPUT
        env:
          VERSION: ${{ matrix.version }}

      - name: Build and push image
        uses: ./.github/actions/build-image
        with:
          name: postgresql
          version: ${{ matrix.version }}
          description: Custom PostgreSQL ${{ steps.version.outputs.release }} image with additional extensions, configuration and tools for learning and testing purposes
          license: PostgreSQL
          token: ${{ secrets.GITHUB_TOKEN }}
