---
name: Build Prometheus Node Exporter image
on:
  push:
    branches:
      - main
    paths:
      - 'node-exporter/**'
      - '!node-exporter/README.md'
      - '.github/workflows/build-node-exporter.yml'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Build and push image
        uses: ./.github/actions/build-image
        with:
          name: node-exporter
          version: 1.10.2
          description: Exporter for machine metrics
          license: Apache-2.0
          token: ${{ secrets.GITHUB_TOKEN }}