---
name: Build Registry image
on:
  push:
    branches:
      - main
    paths:
      - 'registry/**'
      - '!registry/README.md'
      - '.github/workflows/build-registry.yml'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Build and push image
        uses: ./.github/actions/build-image
        with:
          name: registry
          version: 3.0.0
          description: Distribution implementation for storing and distributing of container images and artifacts
          license: Apache-2.0
          token: ${{ secrets.GITHUB_TOKEN }}